@import "tailwindcss";

@theme {
  --color-aurora-dark: #0B0E14;
  --color-aurora-card: #151921;
  --color-aurora-primary: #00D1FF;
  --color-aurora-accent: #7000FF;
  --color-aurora-border: #1F2937;
}

body {
  background-color: var(--color-aurora-dark);
  color: white;
  -webkit-font-smoothing: antialiased;
}

/* Estilização suave da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-aurora-dark);
}
::-webkit-scrollbar-thumb {
  background-color: #374151; /* gray-700 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}